h1{
    color: rgb(2, 53, 2);
    display: flex;
    justify-self: center;
    font-family: fantasy;
    font-size: 300%;
}

header {
    font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    background-color:antiquewhite;
    height: 50%;
  }

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

nav{
    display: inline-block;
    width: 80%;
}
nav a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 69, 3);
    font-size: x-large;
}
nav img{
    display: inline-block;
    width: 100%;
}

header img{
    display: inline-block;
    position: relative;
    top: 20px;
    padding-left: 5%;
}

li{
    background-color: rgb(165, 232, 165);
}

.current{
    text-transform: uppercase;
    background-color: lightgray;

}

.grid{
    display: grid;
    grid-template-columns: 40% 40%;
    row-gap: 1%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(4, 122, 4);
    overflow: auto;
}
.grid img{
    width: 100%;
}

footer {
    background-color: rgb(171, 176, 171);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;

}


.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(4, 122, 4);
}
.flex img{
    width: 30%;
}

#main_content{
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(185, 229, 185);
    font-size: x-large;
    display: block;
    text-align: justify;
}
